[req]
default_bit = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = XX
stateOrProvinceName     = Some State
localityName            = Some Locality
organizationName        = Some Organisation
commonName              = localhost
